<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="/static/about.css">
<link rel="icon" href="/static/images/favicon.ico">
</head>
<body>
<!-- partial:index.partial.html -->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="/static/images/vivek.jpg"></div>
        <div class="cardContent">
          <h3>Vivek<br><span>Frontennd Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://www.linkedin.com/in/vivek-solleti-9a0235224?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B9nTk15MAQR%2BmRPLjGU7vkw%3D%3D"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.instagram.com/s._.vivek/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
          <a href="https://github.com/solletivivek"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
    <br>
    <br>
    <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="/static/images/sandeep.jpg"></div>
        <div class="cardContent">
          <h3>Sandeep<br><span>Backend Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://www.linkedin.com/in/sandeep-dubaguntla-b24665226/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.instagram.com/sandeep_dubaguntla/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
          <a href="https://github.com/Sandeepdubaguntla"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="/static/images/varun.jpg"></div>
        <div class="cardContent">
          <h3>Varun<br><span>Team Lead & Frontend Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://www.linkedin.com/in/varun-ganta?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BBEKtXcNeTWGo4U4m4EQJBA%3D%3D"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.instagram.com/varun_ganta_online/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
          <a href="https://github.com/varunganta6"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
</body>
<!-- partial -->

</body>
</html>
