.land{
  position: relative;
  width: 1540px;
  height: 1024px;

  background: #FFFFFF;
  padding: 2% 2% 2% 2%;
}
.car1{
    width:1600px;
    height:400px;
}

.navbar{
  background-color: transparent;
}
.first-text{
    position: absolute;
    top: 20%;
    left: 30%;
    color: aliceblue;
}
.titleqwe{
  padding-left: 3%;
}
.footer title{
  color: white;
.quic{
color: white;
}

}
.best-icon{
  width: 35px;
}

.boottest{
  padding-left: 10%;
  padding-top: 5%;
}

.backtotop{
  padding-top: 3%;
  margin-left: 2%;
  padding-bottom: 5%;
}

.toptext{
  font-size: 30px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
  font-family: SFProDisplay-Bold;
  padding-bottom: 10px;
  margin: 5%;
}


.imgcard{
  position:relative;
  left:880px;
  top: 100px;
}

.why{
  padding-top: 3%;

}
.move{
  float: left;
  margin-left: 20px;
}
.background-image{
  width: 100%;
}


.backtotop {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 18px;
  background-color: rgba(13, 13, 13, 0.3);
  padding: 0.4em 1.2em;
  border-style: dashed;
  border-radius: 0.25em;
  border-width: 2px;
  border-color: rgba(13, 13, 13, 0.75);
  transition: 0.2s ease;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: #0d0d0d;
  border-color: #0d0d0d;
}

/* --------------------------------------------------------------------------------------------------------------------------- */


      /* this is for fotter for title to be hoverd on mouse


a{
  color: rgb(53, 50, 50);
  font-family: 'Signika Negative',
   sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover
{

color: #EAF6F6;
} */




/* --------------------------------------------------------------------------------------------------------------------------- */

.about-incredible-outer {
  float: left;
  width: 100%;
  background: #f9f9fa;
  margin-top: 100px;
  margin-bottom: 7%;
}
.container {
  width: 1285px;
  margin: 0 auto;
}
.about-incredible-left {
  float: left;
  width: 39.4%;
  margin-top: -40px;
  line-height: 0;
}
.about-incredible-left img {
  max-width: 100%;
  border-radius: 3px;
}
.about-incredible-right {
  width: 60.6%;
  float: left;
  padding: 60px 0 0 75px;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.about-area-incredible {
  position: relative;
}
.about-area-incredible h4 {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ff6612;
  font-family: SFProDisplay-Bold;
  padding-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
    padding-bottom: 0px;
  margin: 0;
}
.pera-left p {
  font-size: 16px;
  line-height: 25px;
  text-transform: inherit;
  color: #3e3e3e;
  font-family: 'SFProDisplay-Regular';
  padding-bottom: 25px;
}
p {
  margin: 0 !important;
}
* {
  margin: 0;
  padding: 0;
    padding-bottom: 0px;
  outline: 0;
  box-sizing: border-box;
}
.why-chosse-outer {
  padding: 100px 0 80px 0;
  float: left;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.blog {
  float: left;
  padding: 0 0 60px 0;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.faq {
  width: 100%;
  float: left;
  padding: 0 0 60px 0;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.Popular_tmi {
  width: 100%;
  float: left;
  padding: 60px 0 60px 0;
  background: #f9f9fa;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.footer-outer {
  background: #394048;
  padding: 40px 0 100px 0;
  float: left;
  width: 100%;
}
.why-chosse-main h3 {
  font-size: 35px;
  line-height: 42px;
  text-transform: capitalize;
  color: #38404f;
  padding-bottom: 10px;
  font-family: SFProDisplay-Bold;
}

.backgrounf{
  background-color:#38404f ;
  padding-bottom: 10px;
}



/* back to  top */

button {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #fff;
  background: none;
  position: relative;
  padding-bottom: 2em;
}

button > div,button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

button:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button .clone > *,button .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

button .clone > * {
  transform: translateY(60px);
}

button:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

button:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

button:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

button:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
button svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

button:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}



